/* --- FONTS --- */

@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato Bold";
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: "BigJohn";
    src: url(../fonts/BigJohn.ttf);
}

@font-face {
    font-family: "SlimJoe";
    src: url(../fonts/SlimJoe.ttf);
}


/* --- GLOBAL ---*/

* {
    transition: all .1s ease-in;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background-color: #f9f9f9;
}


/* --- HEADER --- */

header {
    height: 650px;
    position: relative;
    padding-top: 36px;
    background: url(../img/computer.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #3c4854;
    opacity: 0.85;
}


/* --- HERO ---*/

.hero {
    position: relative;
    width: 72%;
    margin: 0 auto;
    z-index: 1;
}

.hero__logo {
    display: inline-block;
}

a {
    text-decoration: none;
}

nav {
    display: inline-block;
    height: 100px;
    padding-top: 35px;
    float: right;
}

.hero__item {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 0 50px;
}

.hero__item:hover {
    color: #48bf72;
}

.slash {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    border-right: 1px solid grey;
    transform: rotate(15deg);
}


/* --- INTRO --- */

.intro {
    margin-top: 150px;
    text-align: center;
    text-transform: uppercase;
}

.intro__title {
    font-family: "BigJohn", sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
}

.intro__subtitle {
    margin-top: 5px;
    font-family: "SlimJoe", sans-serif;
    font-size: 26px;
}

.intro__btn {
    padding: 12px 20px;
    border: 2px solid #48bf72;
    border-radius: 3px;
    color: #48bf72;
    cursor: pointer;
}

.intro__btn:hover {
    background-color: #48bf72;
    color: #fff;
}


/* --- FILTRES ---*/

main {
    padding-bottom: 60px;
}

.filtres {
    padding: 60px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

.filtres__item {
    display: inline-block;
    width: 110px;
    line-height: 35px;
    margin: 0 5px;
    background: #eaeaea;
    font-size: 13px;
    font-weight: 600;
    color: #828991;
    border: 2px solid #eaeaea;
    border-radius: 3px;
}

.filtres__item:hover {
    background: #48bf72;
    color: #fff;
    border: 2px solid #48bf72;
    border-radius: 3px;
}

.box {
    width: 80%;
    margin: auto;
}

.left-box {
    display: inline-block;
    width: 385px;
    text-align: center;
    margin-left: 55px;
}

.right-box {
    display: inline-block;
    width: 555px;
    float: right;
    text-align: center;
    margin-right: 50px;
}

.left-box__title,
.right-box__title {
    font-size: 30px;
}

.left-box__image1 img {
    object-fit: cover;
    width: 100%;
    height: 302px;
    border-radius: 10px;
}

.left-box__image2 img {
    object-fit: cover;
    height: 487px;
    width: 100%;
    border-radius: 10px;
}

.right-box__image1 img {
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.right-box__image2 img {
    object-fit: cover;
    width: 100%;
    height: 438px;
    border-radius: 10px;
}

.left-box__image1,
.left-box__image2,
.right-box__image1,
.right-box__image2 {
    position: relative;
    border-radius: 10px;
    background: #48bf72;
}

.left-box__image2,
.right-box__image2 {
    margin-top: 50px;
}

.left-box__text,
.right-box__text {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 150px;
    top: 45%;
    margin: auto;
    opacity: 0;
}

.left-box__image1:hover img {
    opacity: 0.3;
}

.left-box__image2:hover img {
    opacity: 0.3;
}

.right-box__image1:hover img {
    opacity: 0.3;
}

.right-box__image2:hover img {
    opacity: 0.3;
}

.left-box__image1:hover .left-box__text {
    opacity: 1;
}

.left-box__image2:hover .left-box__text {
    opacity: 1;
}

.right-box__image1:hover .right-box__text {
    opacity: 1;
}

.right-box__image2:hover .right-box__text {
    opacity: 1;
}


/* --- ABOUT --- */

section {
    position: relative;
    height: 500px;
    background: url(../img/men-computer.jpg) 32% 47% no-repeat;
    margin-bottom: 60px;
}

.about {
    position: relative;
    width: 72%;
    margin: 0 auto;
    z-index: 1;
}

.about__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3c4854;
    opacity: 0.65;
}

.about__text-box {
    float: right;
    padding-top: 70px;
    padding-right: 20px;
    width: 38%;
    z-index: 1;
}

.about__title {
    font-size: 25px;
    font-weight: 700;
}

.about__subtitle {
    margin-top: -10px;
    margin-bottom: 40px;
    font-size: 19px;
}

.about__text {
    line-height: 1.5;
    font-size: 14px;
    padding-bottom: 30px;
}

.about__btn {
    padding: 12px 20px;
    border: 2px solid #3c4955;
    border-radius: 3px;
    color: #3c4955;
    text-transform: uppercase;
    cursor: pointer;
}

.about__btn:hover {
    color: #fff;
    background-color: #3c4955;
}


/* --- CONTACT --- */

.contact {
    position: relative;
    margin: auto;
    max-width: 700px;
}

.contact__title {
    font-family: "BigJohn", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #48bf72;
    padding-bottom: 40px;
}

.contact__nom,
.contact__email {
    display: inline-block;
    vertical-align: top;
    width: 321px;
    height: 50px;
    border: 2px solid #3c4955;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.contact__email {
    margin-left: 24px;
}

.contact__message {
    width: 676px;
    height: 228px;
    margin-top: 35px;
    border: 2px solid #3c4955;
    border-radius: 5px;
    background-color: #f1f1f1;
}

input {
    vertical-align: top;
    width: 240px;
    padding-top: 15px;
    border: none;
    outline: none;
    padding-left: 20px;
}

.contact input,
.contact textarea {
    font-family: "Lato Bold", sans-serif;
    color: #3c4955;
    font-size: 16px;
    background-color: #f1f1f1;
}

textarea {
    vertical-align: top;
    padding-left: 20px;
    padding-top: 15px;
    width: 591px;
    height: 207px;
    border: none;
    outline: none;
}

.contact__btn {
    width: 681px;
    line-height: 50px;
    margin: 35px 0 60px;
    background: #48bf72;
    border-radius: 3px;
    border: 2px solid #48bf72;
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.contact__btn:hover {
    background-color: #f9f9f9;
    color: #48bf72;
    font-weight: 700;
}


/* --- FOOTER ---*/

footer {
    padding-top: 60px;
    height: 170px;
    background-color: #3c4955;
}

.footer {
    width: 72%;
    margin: 0 auto;
}

.footer__copyright {
    display: inline-block;
    padding-top: 60px;
    float: left;
    font-family: "Lato Regular", sans-serif;
    color: #cbced2;
}

.footer__copyright a {
    font-family: "Lato Bold", sans-serif;
    color: #fff;
}

.footer__social {
    display: inline-block;
    padding-top: 40px;
    float: right;
}

.footer__social a {
    margin-left: 45px;
}
